/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */
/* =============================================================================
 *   Base
 * ========================================================================== */
/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/meningit\/sites\/localhost\.meningit\/themes\/custom\/meningitis\/sass\/global\.styles\.scss}line{font-family:\0000342}}
html {
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/meningit\/sites\/localhost\.meningit\/themes\/custom\/meningitis\/sass\/global\.styles\.scss}line{font-family:\0000346}}
body {
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 87.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/meningit\/sites\/localhost\.meningit\/themes\/custom\/meningitis\/sass\/global\.styles\.scss}line{font-family:\0000351}}
#content, #main-content-header, #messages, #block-panels-mini-header-panel {
  max-width: 960px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/meningit\/sites\/localhost\.meningit\/themes\/custom\/meningitis\/sass\/global\.styles\.scss}line{font-family:\0000356}}
#block-panels-mini-page-banner {
  max-width: 1300px;
  margin: 0 auto;
}
