
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";
@import "compass/css3";

/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */

/* =============================================================================
 *   Base
 * ========================================================================== */

/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */

html {
  background: $page;
}

body {
  font-family: $sans-serif-small; // Set from _custom.scss font variables
  font-size: 87.5%;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  a {
    text-decoration: none;
  }
}

#header {
  border-top: 10px solid $red;
  position: relative;
}

#main-content-header, #messages, #block-panels-mini-header-panel #mini-panel-header_panel{
  max-width: $max_banner_width;
  margin: 0 auto;
}
#mini-panel-footer_panel {
  width: $max_site_width;
  margin: 0 auto;
}

#block-panels-mini-header-panel {
  width: 100%;
  top: 0;
  z-index: 300;
  position: absolute;
  min-height: 80px;
  height: auto!important;
  height: 80px;
  background: rgba(255, 255, 255, 0.7);  
  -ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorStr='#B2FFFFFF', endColorStr='#B2FFFFFF');  
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF);
  .pane-block-5, .pane-block-6 {
    float: right;
  }
  .pane-block-1 {
    float: left;
  }
  .pane-block-6 {
    .block-content {
      a {
        background: #fff;
        border-left: 3px solid $red;
        border-right: 3px solid $red;
        border-bottom: 3px solid $red;
        @include border-radius(0 0 10px 10px);
        text-transform: uppercase;
        display: block;
        color: $red;
        padding: 5px 15px;
      }
    }
  }
  .pane-system-main-menu {
    float: left;
    ul {
      margin: 0;
      li {
        list-style: none;
        display: inline-block;
        a {
          color: #253746;
          font-weight: bold;
          font-size: 14px;
          padding: 5px 50px;
          @include border-radius(10px);
          &.active{
            display: block;
            background: #253746;
            color: #fff;
          }
        }
      }
    }
  }
}
#block-panels-mini-page-banner {
  max-width: $max_banner_width;
  margin: 0 auto;
}

a {
  &:hover {
    img {
      @include opacity(0.8);
    }
  }
}

/* Article pages */
.node-type-article {
  .pane-node-body {
    .field-name-body {
      .field-item {
        .field-content {
          width: $max_site_width;
          margin: 0 auto;
          overflow: hidden;
          padding: 50px 0;
          color: #666666;
          h2 {
            font-size: 42px;
            line-height: normal;
            margin: 0 0 10px 0;
            padding-top: 10px;
          }
          h3 {
            font-size: 24px;
            line-height: normal;
            margin: 0 0 10px 0;
          }
        }
        &.even {
          .field-content {
            h2 {
              color: $red;
              border-top: 10px solid #253746;
            }
            img {
              width: 45%;
            }
            div {
              width: 45%;
              padding-right: 5%;
              display: table;
            }
          }
        }
        &.odd {
          background-color: $medium_light;
          .field-content {
            font-size: 18px;
            h2 {
              color: #253746;
              border-top: 10px solid $red;
            }
            img {
              width: 45%;
            } 
            div {
              width: 45%;
              padding-left: 5%;
              display: table;
            }
          }
        }
      }
    }
  }
}

#backtotop {
  background: image-url('to-top.png') no-repeat;
  width: 109px;
  height: 85px;
}

#open-mobile-menu {
  background: image-url('mobile-menu.png') no-repeat;
  width: 65px;
  height: 60px;
  text-indent: -9999px;
  position: relative;

  &.opened {
    background-position: 0 -73px;
  }
}

.pane-menu-menu-mobile-menu {
  display: none;
}

/*footer*/
.pane-footer-panel {
  font-size: 12px;
  color: #9b9b9b;
  overflow: hidden;
  padding: 66px 0 20px;
  background: image-url('bottom_block_bg.jpg') repeat-x 0 0;
  .pane-block-8 {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .pane-block-9  {
    float: left;
  }
  .pane-block-10, .pane-menu-menu-footer-menu {
    float: left;
    ul.menu {
      margin: 0;
      li {
        list-style: none;
        display: inline-block;
        a {
          color: #9b9b9b;
        }
      }
    }
  }
}